<table class="table table-success table-hover my-table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Assistant Name</th>
            <th scope="col">Assistant Email</th>
            <th scope="col">Assistant Tel</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{disabled : elt.status ==='withdrawn' || elt.status ==='declined'}" *ngFor="let elt of demandesTab">
            <td scope="row">{{elt.id}}</td>
            <td>{{elt.assistantName}}</td>
            <td>{{elt.assistantEmail}}</td>
            <td>{{elt.assistantTel}}</td>
            <td [ngClass]="
            {'on-hold' : elt.status ==='on hold',
             'accepted' : elt.status ==='accepted',
             'confirmed' : elt.status ==='confirmed',
             'declined' : elt.status ==='declined',
             'withdrawn' : elt.status ==='withdrawn'}">{{elt.status}}</td>
            <td>
                <button type="button" class="btn btn-outline-info" (click)="displayDemande(elt.id)">Display</button>
                <button type="button" class="btn btn-outline-success" *ngIf="elt.status ==='accepted'" (click)="confirmDemande(elt.id)" style="margin-left: 5px;">Confirm</button>
                <button type="button" class="btn btn-outline-danger" *ngIf="elt.status !=='withdrawn'" (click)="removeDemande(elt.id)" style="margin-left: 5px;">Withdraw</button>
            </td>
        </tr>

        <tr *ngIf="isEmpty===true">
            <td colspan="6">
                <div class="text-center" style="color: red;">There is no demandes at this moment</div>
            </td>
        </tr>

    </tbody>
</table>