.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    margin-bottom: 60px;
  }
  
  .button:hover {
    background-color: #0069d9;
  }
  
  .button:active {
    background-color: #005cbf;
  }

  #fixedButton{
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    z-index: 3;
  }
  #fixedButton.show{
    display: block;
  }
