<section class="news-detail-header-section text-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h1 class="text-white">Edit Password</h1>
            </div>

        </div>
    </div>
</section>


<section class="news-section section-padding section-bg">

    <div class="container my-2">

        <div class="row justify-content-center">
            <div class="custom-form col-md-6 volunteer-form mb-5 mb-lg-0">
                <form class="row" [formGroup]="editPwdForm">

                    <div class="col-lg-12 col-12">
                        <input type="email" formControlName="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-lg-12 col-12" style="margin-top: -20px; margin-bottom: 10px;" *ngIf="editPwdForm.controls['email'].invalid && (
                            editPwdForm.controls['email'].touched || 
                            editPwdForm.controls['email'].dirty)">

                        <div class="col-lg-12 col-12" *ngIf="editPwdForm.controls['email'].errors.required"
                            style="color: red;">
                            Email is required
                        </div>
                        <div class="col-lg-12 col-12" *ngIf="editPwdForm.controls['email'].errors.email"
                            style="color: red;">
                            Invalid Format
                        </div>

                    </div>


                    <div class="col-lg-12 col-12">
                        <input type="password" formControlName="oldPwd" class="form-control" placeholder="Old Password">
                    </div>
                    <div class="col-lg-12 col-12" style="margin-top: -20px; margin-bottom: 10px;" *ngIf="editPwdForm.controls['oldPwd'].invalid && (
                            editPwdForm.controls['oldPwd'].touched ||
                            editPwdForm.controls['oldPwd'].dirty)">

                        <div class="col-lg-12 col-12" *ngIf="editPwdForm.controls['oldPwd'].errors.required"
                            style="color: red;">
                            Old Password is required
                        </div>

                    </div>

                    <div class="col-lg-12 col-12">
                        <input type="password" formControlName="newPwd" class="form-control"
                            placeholder="New Password">
                    </div>
                    <div class="col-lg-12 col-12" style="margin-top: -20px; margin-bottom: 20px;" *ngIf="editPwdForm.controls['newPwd'].invalid && (
                            editPwdForm.controls['newPwd'].touched ||
                            editPwdForm.controls['newPwd'].dirty)">

                        <div class="col-lg-12 col-12" *ngIf="editPwdForm.controls['newPwd'].errors.required"
                            style="color: red;">
                            New Password is required
                        </div>
                        <div class="col-lg-12 col-12" *ngIf="editPwdForm.controls['newPwd'].errors.pattern"
                            style="color: red;">
                            <div>Password must be 8 chars length at least,</div>
                            <div>Password must have one speacial char at least,</div>
                            <div>Password must have one upper case char at least,</div>
                            <div>Password must have one number char at least.</div>
                        </div>

                    </div>


                    <div *ngIf="err" class="col-lg-12 col-12 text-center alert alert-danger my-3">{{msgErr}}</div>

                    <button type="submit" (click)="editPwd()" [disabled]="editPwdForm.invalid"
                        class="form-control btn btn-success">Confirm</button>

                </form>
            </div>
        </div>





    </div>

</section>