<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="text-white mb-4">Subscription</h2>

                <div class="custom-form volunteer-form mb-5 mb-lg-0">

                    <h3 class="mb-4">Welcome to the world of Happiness</h3>

                    <div class="row">

                        <!-- Start radio inputs to choose type of user -->

                        <div class="col-lg-6 col-6 form-check-group form-check-group-donation-frequency">
                            <div class="form-check form-check-radio">
                                <input class="form-check-input" type="radio" name="userType" value="simple" (change)="setUserType('simple')" id="DonationFrequencyOne" checked [disabled]="isSignupAdminPath">
                                <label class="form-check-label" for="DonationFrequencyOne">
                                    Simple User
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-6 form-check-group form-check-group-donation-frequency">
                            <div class="form-check form-check-radio">
                                <input class="form-check-input" type="radio" name="userType" value="assitant" (change)="setUserType('assistant')" id="DonationFrequencyMonthly" [disabled]="isSignupAdminPath">
                                <label class="form-check-label" for="DonationFrequencyMonthly">
                                    Assitant User
                                </label>
                            </div>
                        </div>
                        <!-- End radio inputs to choose type of user -->


                        <div *ngIf="userType === 'assistant'">

                            <app-signup-assistant></app-signup-assistant>

                        </div>

                        <div *ngIf="userType === 'simple'">

                            <app-signup-user></app-signup-user>

                        </div>

                    </div>



                </div>

            </div>



            <div class="col-lg-6 col-12 col align-self-center">
                <img src="assets/images/national-family-caregivers-month.jpg"
                    class="volunteer-image img-fluid" alt="">

                <div class="custom-block-body text-center">
                    <h4 class="text-white mt-lg-3 mb-lg-3">We're</h4>

                    <p class="text-white">Helping seniors and adults thrive with personalized care and support.</p>
                </div>
            </div>

        </div>
    </div>
</section>